extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")
            .col-md-7
                 h1= pagina
                 blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam possimus optio dignissimos, praesentium, rerum id quam labore, ad voluptatem dolorum quo porro. Iste dolores quas enim, adipisci consequuntur provident? Corrupti!

                 p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat mattis dolor, ac fermentum lorem. Nam suscipit egestas rutrum. Donec nec dignissim erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur vulputate enim enim, vitae rutrum lacus convallis aliquet.
                 p Quisque consequat mattis dolor, ac fermentum lorem. Nam suscipit egestas rutrum. Donec nec dignissim erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur vulputate enim enim, vitae rutrum lacus convallis aliquet. Sed tristique quis enim consectetur tincidunt. 

    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro architecto vero, atque molestias nemo earum in incidunt soluta ipsa expedita vitae debitis libero assumenda fuga, optio harum mollitia laboriosam delectus?
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro architecto vero, atque molestias nemo earum in incidunt soluta ipsa expedita vitae debitis libero assumenda fuga, optio harum mollitia laboriosam delectus?
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios Accesibles 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro architecto vero, atque molestias nemo earum in incidunt soluta ipsa expedita vitae debitis libero assumenda fuga, optio harum mollitia laboriosam delectus?
